@using Newtonsoft.Json

@model TodoItemViewModel

<div class="card-group d-flex flex-wrap justify-content-start">
    @foreach (var todoItem in Model.TodoItems)
    {
        var priority = todoItem.Priority;
        var priorityImageUrl = priority == 0 ? Url.Content("~/images/high.png") : Url.Content("~/images/low.png");
        var archiveUnarchive = @Model.ArchivedStatus == 0 ? "&#128194;" : "&#x1F4C1;";
        <div class="card bg-primary text-white mb-3 px-3 mx-3" style="flex: 0 0 25%;" id="@todoItem.Id">
            <div class="card-body">
                <div style="display: flex; justify-content: flex-end;">
                    <h5 class="card-title">@todoItem.Title</h5>
                    <div class="form-check float-end" style="margin-left: auto;">
                        <input class="form-check-input" type="checkbox" id="check-@todoItem.Id"
                            onclick='changeStatus(@Html.Raw(JsonConvert.SerializeObject(todoItem)), @Model.CompletedStatus)'>
                        <label class="form-check-label" for="check-@todoItem.Id"></label>
                    </div>
                </div>
                <p class="card-text">@todoItem.Description</p>
                <p class="card-text"><small class="text-white">@todoItem.Date</small></p>
                <div style="display: flex; justify-content: flex-end;">
                    <input class="table-cell" type="button" title="Edit" value="&#9998;"
                        onclick="showEditForm('@todoItem.Id', '@todoItem.Title', '@todoItem.Description', '@todoItem.Priority', '@todoItem.Date')" />
                    <input class="table-cell" type="button" title="Delete" value="&#128465;"
                        onclick="remove(@todoItem.Id)" />
                    <input class="table-cell" type="button" title="Archive/Unarchive" value=@Html.Raw(archiveUnarchive)
                        onclick='changeStatus(@Html.Raw(JsonConvert.SerializeObject(todoItem)), @Model.ArchivedStatus)' />
                    <p class="card-text float-end" style="margin-left: auto;"><img src=@priorityImageUrl width="24"
                            height="24" /></p>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="form-group">
                        <label for="editFormTitle">Task</label>
                        <input type="text" class="form-control" id="editFormTitle" />
                    </div>
                    <div class="form-group">
                        <label for="editFormDescription">Description</label>
                        <textarea class="form-control" id="editFormDescription" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="editFormPriority">Priority</label>
                        <select class="form-control" id="editFormPriority" name="editFormPriority">
                            <option value="HIGH">High</option>
                            <option value="LOW">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editFormDate">Date</label>
                        <input type="date" class="form-control" id="editFormDate" />
                    </div>

                    <input type="hidden" id="editFormId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitEditForm()">Submit</button>
            </div>
        </div>
    </div>
</div>
