<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="wwwroot/js/site.js"></script>

<div class="text-center">
    <h2>Completed items</h2>
</div>

@using Newtonsoft.Json

@model List<TodoItem>

@{
    var userId = (string)ViewBag.UserId;
}

<div class="card-group">
    @foreach (var todoItem in Model)
    {
        if (todoItem.UserId == userId && todoItem.Status == Todo.Enums.StatusType.COMPLETED)
        {
            var priority = todoItem.Priority;
            var priorityImageUrl = priority == 0 ? Url.Content("~/images/high.png") : Url.Content("~/images/low.png");
            <div class="card bg-primary text-white" id="@todoItem.Id">
                <div class="card-body">
                    <div class="form-check float-end">
                        <input class="form-check-input" type="checkbox" id="check-@todoItem.Id" onclick='changeStatus(@Html.Raw(JsonConvert.SerializeObject(todoItem)), 2)'>
                        <label class="form-check-label" for="check-@todoItem.Id"></label>
                    </div>
                    <h5 class="card-title">@todoItem.Title</h5>
                    <p class="card-text">@todoItem.Description</p>
                    <p class="card-text"><small class="text-white">@todoItem.Date</small></p>
                    <input class="table-cell" type="button" title="Delete" value="&#128465;" onclick="remove(@todoItem.Id)" />
                    <input class="table-cell" type="button" title="Archive" value="&#x1F4C1;"
                        onclick='changeStatus(@Html.Raw(JsonConvert.SerializeObject(todoItem)), 1)' />
                    <p class="card-text float-end"><img src=@priorityImageUrl width="24" height="24" /></p>
                </div>
            </div>
        }
    }
</div>