<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="wwwroot/js/site.js"></script>

<div class="text-center">
    <h2>Completed items</h2>
</div>

@using Newtonsoft.Json

@model List<TodoItem>

@{
    var userId = (string)ViewBag.UserId;
}

@foreach (var todoItem in Model)
{
    if (todoItem.UserId == userId && todoItem.Status == Todo.Enums.StatusType.COMPLETED)
    {
        <div>
            <div class="flex-container" id="@todoItem.Id">
                <p>@todoItem.Title</p>
                <p>@todoItem.Description</p>
                <input type="button" title="Delete" value="Delete" onclick="remove(@todoItem.Id)" />
                <input type="button" title="Archive" value="Archive" onclick='changeStatus(@Html.Raw(JsonConvert.SerializeObject(todoItem)), 1)' />
            </div>
        </div>
    }
}