<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<div class="text-center">
    <h2>To do list</h2>
</div>

@model List<TodoItem>

@{
    var userId = (string)ViewBag.UserId;
}

@foreach (var todoItem in Model)
{
    if (todoItem.UserId == userId)
    {
        <div>
            <div class="flex-container" id="@todoItem.Id">
                <p>@todoItem.Text</p>
                <p>@todoItem.Status</p>
                <input type="button" title="Delete" value="Delete" onclick="remove(@todoItem.Id)" />
                <input type="button" title="Archive" value="Archive" onclick="archive(@todoItem.Id)" />
            </div>
        </div>
    }
}

<div class="text-center">
    <h2>Add a new item</h2>
</div>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Text">Text:</label>
        <textarea class="form-control" id="text" name="text"></textarea>
    </div>
    <div class="form-group">
        <label for="Status">Status:</label>
        <input type="text" class="form-control" id="status" name="status" />
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Create</button>
}

<script>
    function remove(id) {
        var todoItem = document.getElementById(id);
        todoItem.remove();
        $.ajax({
            type: 'DELETE',
            url: '/api/todo/' + id,
            contentType: 'application/json'
        }).done(function () {
            console.log('Success');
        }).fail(function () {
            console.log('Error');
        });
    }

    function archive(id) {
        var todoItem = document.getElementById(id);
        @* todoItem.remove(); *@
        $.ajax({
            type: 'PUT',
            url: '/api/todo/' + id,
            contentType: 'application/json'
        }).done(function () {
            console.log('Success');
            location.reload();
        }).fail(function () {
            console.log('Error');
        });
    }
</script>