<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="wwwroot/js/site.js"></script>

<div class="text-center">
    <h2>To do list</h2>
</div>

@using Newtonsoft.Json

@model List<TodoItem>

@{
    var userId = (string)ViewBag.UserId;
}

@foreach (var todoItem in Model)
{
    if (todoItem.UserId == userId && todoItem.Status == Todo.Enums.StatusType.OPEN)
    {
        <div>
            <div class="flex-container" id="@todoItem.Id">
                <p>@todoItem.Text</p>
                <input type="button" title="Delete" value="Delete" onclick="remove(@todoItem.Id)" />
                <input type="button" title="Archive" value="Archive" onclick='archive(@Html.Raw(JsonConvert.SerializeObject(todoItem)))' />
            </div>
        </div>
    }
}

<div class="text-center">
    <h2>Add a new item</h2>
</div>

<button type="button" onclick="addNewItem()">+</button>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="addNewItem" style="display:none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
        <div class="form-group">
            <label for="Text">Text:</label>
            <textarea class="form-control" id="text" name="text"></textarea>
        </div>
        <button type="submit" value="Submit" class="btn btn-primary">Create</button>
    </div>
}